html {
    background-color: orangered;
    margin-top: -7px;
}

.navBar {
    border: 1px solid orangered;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    z-index: 9999;
    height: 50px;
    width: 100%
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    padding: 15px;
    margin: 1px;
    background-color: orange;
    height: 30px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

ul li a {
    text-decoration: none;
}

:visited {
    color: black;
}

.hero-text {
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
}


/*
:hover {
    color: yellow;
}
*/
