html {
    background-color: #a49da8;
    margin: -9px -40px -9px -9px;
    margin-right: -12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    /*    font-family: sans-serif;
    */
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
}

.navBar {
    border: 1px solid #a49da8;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    max-height: 50px;
    width: 100%
}

.logo {
    color: white;
    padding-left: 5px;
    font-size: 10px
}

ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 15px;
    margin: 1px;
    background-color: #a49da8;
    height: 30px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

ul li a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

:visited {
    color: #fff;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}


/*
.hero-text {
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    vertical-align: middle;
}
*/


/* Styling  for Carousel */

.container-carousel {
    overflow: hidden;
    margin-top: 90px;
}

#slider {
    width: 1200px;
    height: 590px;
    overflow: hidden;
    margin: 0 auto;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
}


/*################--Footer styling--#############*/

ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-right: 35px;
}

.followUs {
    text-align: center;
    padding-top: 30px;
}

.videoContent-1,
.videoContent-2 {
    text-align: center;
}

.fb-like {
    margin-left: 40%;
    margin-right: 40%;
}


/*styling for the tutorials page*/

h4 {
    font-size: 2.3em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

#allBlogPost {
    padding-top: 50px;
    width: 650px;
    padding-left: 25px;
    letter-spacing: 1.2px;
    line-height: 35px;
    margin: 0 auto;
}

.postDate {
    margin: 0 auto;
    color: #fff;
    font-size: 10px
}


/*styling for the tutorials page*/

div > h2 {
    font-size: 1.7em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

.aboutUs {
    padding-top: 50px;
    width: 650px;
    padding-left: 25px;
    letter-spacing: 1.2px;
    line-height: 35px;
    margin: 0 auto;
}

.post-1Header {
    font-size: 1.3em;
}

.postDate {
    margin: 0 auto;
    color: #fff;
    font-size: 10px
}


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    nav ul li {
        display: inline-block;
        padding: 15px;
        margin: 1px;
        background-color: #a49da8;
        height: 10%;
        width: auto;
        text-align: center;
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: 400;
        color: white;
    }
    .aboutUs {
        width: 90%;
        font-size: .80em;
    }
    div > h2 {
        font-size: 1.2em;
    }
    .post-1Header,
    .post-2Header {
        font-size: 1.5em;
    }
    #allBlogPost {
        width: 85%;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    nav ul li {
        font-size: 1em;
    }
    .post-1Header,
    .post-2Header {
        font-size: 1.3em;
        text-align: center;
        font-weight: bold;
    }
    #allBlogPost {
        width: 80%;
    }
    .fb-like {
        margin: auto;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {}
