html {
    background-color: orangered;
    margin-top: -7px;
    font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    /*    font-family: sans-serif;
    */
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
}

.navBar {
    border: 1px solid orangered;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    z-index: 9999;
    height: 50px;
    width: 100%
}

ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 15px;
    margin: 1px;
    background-color: orange;
    height: 30px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

ul li a {
    text-decoration: none;
}

a:link {
    color: black
}

:visited {
    color: black;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.hero-text {
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
    vertical-align: middle;
}


/*
:hover {
    color: yellow;
}
*/


/* Styling  for Carousel */

.container-carousel {
    overflow: hidden;
}

#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 1200px;
    height: 400px;
}

.carousel-header {
    text-align: center;
    font-weight: 300;
    font-size: 65px;
    font-family: cursive
}

footer {
    text-align: center;
}
